<div class="col-xs-10 col-xs-offset-1 about">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<h1>About Herzog</h1>
	<p>
		Herzog was built by Travis Dilweg as guided by Marco Morawec and Ken Mazaika in the Firehose Project. An aspiring software developer and accomplished film nut, Travis is seeking to escape the financial industry and use a modicum of his analytical and creative abilities in his career.
	</p>


	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'Travis-min.jpeg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Travis Dilweg</h2>
		<br />
		<p>
			Travis Dilweg has gone from High School Valedictorian to achieving a marginally useful B.A. degree in History and Russian Area Studies at the University of Wisconsin, followed by a desultory career wavering between the passionate and the practical, from clerical work for the state government to managing an encyclopedically complete video store, to teaching English to Russians on the Black Sea, to importing foriegn DVDs and video rarities, massaging clients and various layers of middle and upper management in a leviathan financial conglomerate and shouting frequently in the darkness about how to improve their online and mobile interface. Also completed a screenplay about love, betrayal, espionage, bicycles, and Artificial Intelligence.
		</p>
	</div>
	<br class="clear" />
	<br />
	<br />
	<br />
	<br />











</div>