<h2>
	<span>HERZOG / No. <%=@quote.id %></span>
	Some <u>fresh old hollywood wit</u> you didn't know you needed.
</h2>

<h1><%= @quote.saying %></h1>
<h2 class="pull-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />